/* Gerais */
body{
	max-width: 100%;
	padding: 0;
	background-image: url("../img/fundo1.png");
}

.text-center{
	margin: 0 auto;
}

.container{
	max-width: 100%;
	padding: 0;
	margin: 0;
}

/* main */

h3{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-transform: uppercase;
}

.cad-edit-form{
	max-width: 80%;
	width: 80%;
	display: flex;
	margin: 0 auto;
}

.form-cad-edit{
	max-width: 100%;
	width: 100%;
}

.btn{
	height: 40px;
	color:white;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.btn-info{
	background-color: #4682B4;
	border-color: #4682B4;
}

.btn-success:hover{
	color:black;
	background-color: white;
}

.btn-info:hover{
	color:black;
	background-color: white;
	border-color: #4682B4;
}

/* Barra de navegação */
#navbar-links{
	margin-right: 40px;
}

i.fas{
	margin-right: 10px;
}

i.fas.fa-sign-out-alt{
	margin-left: 10px;
}

header, .navbar{
    background-color:#4682B4;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
.nav-item nav-link{
	margin-left: 100px;
}

#logout-button{
	background-color: inherit;
	color: white;
	border: 0 none;
}


